* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//Navbar

.navBar{
  display: flex;
  background-color: pink;
  height: 80px;
  width: auto;
  align-items: center;
}


ul li{
    display: inline;
    padding: 20px;
  
  
  }
  
  .navBar ul li a{
    text-decoration: none;
    color: white;
      font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  
  }