* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//Navbar

.navBar{
  display: flex;
  background-color: pink;
  height: 80px;
  width: auto;
  align-items: center;
}



ul li{
  display: inline;
  padding: 20px;


}

.navBar ul li a{
  text-decoration: none;
  color: white;
	font-family: 'Open Sans', sans-serif;
  font-weight: bold;

}

.logo {

  padding: 80px;
  letter-spacing: 1px;
  cursor: pointer;


}

ul li a:hover{
  color: #d41442;
  transition: 0.5s;
}


.cart i{
	background-color: white;
	color:#d41442;
	padding: 12px 35px;
	border-radius: 45px;
	transition: 0.4s;
	text-decoration: none;
  cursor: pointer;
  font-size: 18px;

}

.cart i:hover{
  background-color: rgba(255, 255, 255, 0.747);
  

}

.cart {
  margin-left: 87%;
  margin-top: -59px;
}

//titulo
.itemListContainer{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7%;



  h1, h2{
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color:#d41442;
    font-size: 40px;


  }


  img{
    height: 350px;
    width: auto;
  }
}
